
header {
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  padding-top:40px;
  text-align: center;
  background: #251A4E;
  color: white;
  font-size: 30px;
}

ul {
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1f4068 ;
  position: sticky;
  top: 0;
  left:0;
  bottom:0;
  width:100%;
  display:flex;
  align:center;
  font-size: 15px;
  margin-top:30px;
  
}

li {
  float: left;
  margin-left: auto;
  margin-right: auto;
}

li a {
  display: block;
  color: white;
  padding-left: 70px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 70px;
  text-decoration: none;
}

li a:hover {
  background-color: gold;
  color:black;
}

body {
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #1b1b2f;
	opacity:inherit;

}

.container{
  width: 80%;
  margin: 0 auto
}

input[type='submit'], button{
  cursor: pointer;

}

input[type=text]{
  padding: 10px 15px;
  width: 23%;
}

#nim {
	color:white;
	width:12%;
}

#nama {
	color:white;
	width:12%;
}

#alamat {
	color:white;
	width:12%;
}

h2.title{
  color: gold;
  padding: 0;
  margin: 0;
  font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}

h1.title{
  text-align: center;
  color: red;
  padding: 0;
  margin: 0;
  font-style: solid;


}

#counter{
  text-align: left;
  width: 100%;


  font-size: smaller;
  color: gold;
  font-family:Times New Roman;
}

#greeting{
  text-align:right;
  color: gold;
  font-family:sans-serif;
  font-style: italic;
  font-weight: bold;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.modal-content1 {
  background-color: #fefefe;
  margin: auto;
  width: 25%;
  height: 100px;
  border-radius: 12px;
}

.headerAll1{
  top:0;
  width: 34,45%;
  padding:8px;
  text-align: center;
  background:darkgreen;
  color: white;
  font-size: 20px;
  font-family:Times New Roman;
}

.modal-content2 {
  background-color: #fefefe;
  margin: auto;
  width: 25%;
  height: 100px;
  border-radius: 12px;
}

.headerAll2{
  top:0;
  width: 34,45%;
  padding:8px;
  text-align: center;
  background: darkblue;
  color: white;
  font-size: 20px;
  font-family:Times New Roman;
}

.modal-content3 {
  background-color: #fefefe;
  margin: auto;
  width: 25%;
  height: 100px;
  border-radius: 12px;
}

.headerAll3{
  top:0;
  width: 34,45%;
  padding:8px;
  text-align: center;
  background: darkred;
  color: white;
  font-size: 20px;
  font-family:Times New Roman;
}

.modal-content4 {
  background-color: #fefefe;
  margin: auto;
  width: 25%;
  height: 100px;
  border-radius: 12px;
}

.headerAll4{
  top:0;
  width: 34,45%;
  padding:8px;
  text-align: center;
  background: darkgoldenrod;
  color: white;
  font-size: 20px;
  font-family:Times New Roman;
}


.header {
  text-align: center;
  position: fixed;
  width:100%;
  left:0;
  top:0px;
  margin:auto;
  padding: 20px;
  background-color: #251A4E;
  color: white;
  font-size: 20px;
  font-family:'Arial Black';
	text-shadow:1px 1px 10px #000042;
   
}

.close-btn{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close-btn:hover,.close-btn:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;

}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid white;
  padding: 8px;
}

#customers tr:hover {
	background-color: #ddd;
	color:black;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:darkblue;
  color: white;
}

.table-data{
  width: 100%;
  border-collapse: collapse;
  background: white;
  color:white;
}
.table-data tr{
  height: 35px;
  color:white;
}
.table-data th{
  text-align: left;
  border:1px solid white;
  padding: 5px 3px;
  color:white;
}
.table-data td{
  text-align: left;
  border:1px solid white;
  color:white;
  padding: 5px 3px;
}

.table-data tr:hover {
	background-color:#f5f5f5;
	color:black;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  color:white;
  border: 1px solid white;
  padding: 8px;
}

#customers tr:hover {
	background-color: darkgoldenrod;
	color:red;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #251A4E;
  color: white;
}
.button{
    background-color: gold;
  padding: 10px 10px;
  border: 1px  solid black;
}

.button:hover {
  background-color: yellow;
  color: black;
  box-shadow:
        0 0 15px 1px 	#FFA500, 
        0 0 15px 1px 	#FFA500;
}

.button1{
    background-color: darkblue;
  padding: 10px 15px;
  border: 1px  solid black;
  color:white;
}

.button1:hover {
  background-color: blue;
  color: white;
  box-shadow:
        0 0 15px 1px 	#0000FF, 
        0 0 15px 1px 	#0000FF;
}

.button2{
    background-color: maroon;
  padding: 10px 15px;
  border: 1px  solid black;
  color:white;
}
.button2:hover {
  background-color: red;
  color: white;
  box-shadow:
        0 0 15px 1px 	#FF0000, 
        0 0 15px 1px 	#FF0000;
}

.readonly{
  background:#f0f0f0;
  color:black;
}

@media only screen and (max-width: 575px) {
  .table-data th,.table-data td{
    font-size:smaller;
  }
  .container{
    width: 100%;
  }
  input[type='submit'], button{
	  background-color: #4CAF50;
    cursor: pointer;
    width: 100%;
    margin-bottom: 3px;
  }
  input[type=text]{
    width: 98%;
    padding: 15px 1% ;
    margin: 0;
    margin-bottom: 5px;
  }

  .modal{
      padding-top: 25%;
  }

   .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 85%;
  }


  .modal-content input[type=submit]{
    cursor: pointer;
    width: 100%;
    margin-bottom: 3px;
  }

}

footer{
	padding:17px;
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #1f4068;
   color:gold;
   text-align: center;
	font-family:'Arial Black';
	text-shadow:1px 1px 10px #000042;
	
}

 .tab { 
  display: inline-block; 
  margin-left: 5px; 
} 

.tab1 { 
  margin-left: 1px; 
} 

.article1 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding-top:20px;
	padding-left:40px;
	padding-right:20px;
	padding-bottom:20px;
	margin-left: 50px;
	border: thin solid white;
	width:65%;
	border-radius: 5%;
	margin-top:100px;
	margin-bottom:100px;
	
}

.aside {
  flex-grow: 2;
    flex-basis: 25%;
  padding-bottom:20px;
  margin-left:15%;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  text-align:center;
  border: thin solid white;
  position: absolute;
  right: 3%;
  width: 20%;
  background: #251A4E;
  border-radius: 12%;
  margin-top:100px;
}

.foto{
	height:50%;
	width:50%;
	border-radius: 50%;
  align:center;
  border-style: solid;
  border-color: gold;
}

.foto:hover {
  background-color: orangered;
  box-shadow:
        0 0 40px 1px 	#FFA500,  
        0 0 40px 1px 	#FFA500; 
}

